# Node modules
node_modules/

# Gradle files
.gradle/
build/
local.properties

# IDE files
.idea/
.vscode/

# Build outputs & temporary files
*.apk
*.part
*.lck
*.log

# Firebase configuration
google-services.json
